services:
  mongodb:
    image: mongo:latest
    ports:
      - 27017:27017
    volumes:
      - ./data/mongodb:/data/db

  redis:
    image: redis:latest
    command: redis-server /usr/local/etc/redis/redis.conf
    ports:
      - 6379:6379
    volumes:
      - ./data/redis.conf:/usr/local/etc/redis/redis.conf
      - ./data/redis:/data

  gatekeeper:
    build:
      context: .
      dockerfile: Dockerfile.gatekeeper
    image: keychainmdip/gatekeeper
    environment:
      - KC_GATEKEEPER_PORT=4224
      - KC_GATEKEEPER_DB=${KC_GATEKEEPER_DB}
      - KC_GATEKEEPER_REGISTRIES=${KC_GATEKEEPER_REGISTRIES}
      - KC_GATEKEEPER_GC_INTERVAL=${KC_GATEKEEPER_GC_INTERVAL}
      - KC_MONGODB_URL=mongodb://mongodb:27017
      - KC_REDIS_URL=redis://redis:6379
    volumes:
      - ./data:/app/gatekeeper/data
    user: "${KC_UID}:${KC_GID}"
    ports:
      - 4224:4224
    depends_on:
      - mongodb
      - redis

  keymaster:
    build:
      context: .
      dockerfile: Dockerfile.keymaster
    image: keychainmdip/keymaster
    environment:
      - KC_KEYMASTER_PORT=4226
      - KC_GATEKEEPER_URL=http://gatekeeper:4224
    volumes:
      - ./data:/app/keymaster/data
    user: "${KC_UID}:${KC_GID}"
    ports:
      - 4226:4226
    depends_on:
      - gatekeeper

  hypr-mediator:
    build:
      context: .
      dockerfile: Dockerfile.hyperswarm
    image: keychainmdip/hyperswarm-mediator
    environment:
      - KC_GATEKEEPER_URL=http://gatekeeper:4224
      - KC_NODE_NAME=${KC_NODE_NAME}
    volumes:
      - ./data:/app/hyperswarm/data
    user: "${KC_UID}:${KC_GID}"
    depends_on:
      - gatekeeper

  tftc-node:
    build:
      context: .
      dockerfile: Dockerfile.ftc
    image: keychainmdip/ftc-node
    volumes:
      - ./data/tftc:/root/.feathercoin

  tftc-mediator:
    build:
      context: .
      dockerfile: Dockerfile.satoshi
    image: keychainmdip/satoshi-mediator
    environment:
      - KC_GATEKEEPER_URL=http://gatekeeper:4224
      - KC_NODE_ID=${KC_NODE_ID}
      - KC_SAT_CHAIN=TFTC
      - KC_SAT_NETWORK=testnet
      - KC_SAT_START_BLOCK=0
      - KC_SAT_HOST=tftc-node
      - KC_SAT_PORT=19337
      - KC_SAT_USER=${KC_TFTC_USER}
      - KC_SAT_PASS=${KC_TFTC_PASS}
      - KC_SAT_WALLET=${KC_TFTC_WALLET}
      - KC_SAT_IMPORT_INTERVAL=${KC_TFTC_IMPORT_INTERVAL}
      - KC_SAT_EXPORT_INTERVAL=${KC_TFTC_EXPORT_INTERVAL}
      - KC_SAT_FEE_MIN=${KC_TFTC_FEE_MIN}
      - KC_SAT_FEE_MAX=${KC_TFTC_FEE_MAX}
      - KC_SAT_FEE_INC=${KC_TFTC_FEE_INC}
    volumes:
      - ./data:/app/satoshi/data
    user: "${KC_UID}:${KC_GID}"
    depends_on:
      - tftc-node
      - gatekeeper

  tbtc-node:
    image: macterra/bitcoin-core:v27.99.0-2f7d9aec4d04
    volumes:
      - ./data/tbtc:/root/.bitcoin

  tbtc-mediator:
    build:
      context: .
      dockerfile: Dockerfile.satoshi
    image: keychainmdip/satoshi-mediator
    environment:
      - KC_GATEKEEPER_URL=http://gatekeeper:4224
      - KC_NODE_ID=${KC_NODE_ID}
      - KC_SAT_CHAIN=TBTC
      - KC_SAT_NETWORK=testnet
      - KC_SAT_HOST=tbtc-node
      - KC_SAT_PORT=48332
      - KC_SAT_START_BLOCK=${KC_TBTC_START_BLOCK}
      - KC_SAT_USER=${KC_TBTC_USER}
      - KC_SAT_PASS=${KC_TBTC_PASS}
      - KC_SAT_WALLET=${KC_TBTC_WALLET}
      - KC_SAT_IMPORT_INTERVAL=${KC_TBTC_IMPORT_INTERVAL}
      - KC_SAT_EXPORT_INTERVAL=${KC_TBTC_EXPORT_INTERVAL}
      - KC_SAT_FEE_MIN=${KC_TBTC_FEE_MIN}
      - KC_SAT_FEE_MAX=${KC_TBTC_FEE_MAX}
      - KC_SAT_FEE_INC=${KC_TBTC_FEE_INC}
    volumes:
      - ./data:/app/satoshi/data
    user: "${KC_UID}:${KC_GID}"
    depends_on:
      - tbtc-node
      - gatekeeper

  ipfs-mediator:
    build:
      context: .
      dockerfile: Dockerfile.ipfs
    image: keychainmdip/ipfs-mediator
    environment:
      - KC_GATEKEEPER_URL=http://gatekeeper:4224
      - KC_IPFS_INTERVAL=${KC_IPFS_INTERVAL}
      - KC_IPFS_BATCH_SIZE=${KC_IPFS_BATCH_SIZE}
      - KC_IPFS_CONCURRENCY=${KC_IPFS_CONCURRENCY}
    volumes:
      - ./data:/app/ipfs/data
    user: "${KC_UID}:${KC_GID}"
    depends_on:
      - gatekeeper
