services:
  mongodb:
    image: mongo:8.0
    volumes:
      - ./data/mongodb:/data/db
    ports:
      - 127.0.0.1:27017:27017

  redis:
    image: redis:8.0.4-alpine
    command: redis-server /usr/local/etc/redis/redis.conf
    volumes:
      - ./data/redis.conf:/usr/local/etc/redis/redis.conf
      - ./data/redis:/data
    ports:
      - 127.0.0.1:6379:6379

  ipfs:
    profiles:
      - ipfs
    image: ipfs/kubo:v0.35.0
    ports:
      - 4001:4001
      - 4001:4001/udp
      - 127.0.0.1:5001:5001
    volumes:
      - ./data/ipfs:/data/ipfs
      - ./share:/export/share

  gatekeeper:
    build:
      context: .
      dockerfile: Dockerfile.gatekeeper
    image: keychainmdip/gatekeeper
    environment:
      - KC_GATEKEEPER_PORT=4224
      - KC_GATEKEEPER_DB=${KC_GATEKEEPER_DB}
      - KC_GATEKEEPER_DID_PREFIX=${KC_GATEKEEPER_DID_PREFIX}
      - KC_GATEKEEPER_REGISTRIES=${KC_GATEKEEPER_REGISTRIES}
      - KC_GATEKEEPER_GC_INTERVAL=${KC_GATEKEEPER_GC_INTERVAL}
      - KC_GATEKEEPER_STATUS_INTERVAL=${KC_GATEKEEPER_STATUS_INTERVAL}
      - KC_GATEKEEPER_SERVE_CLIENT=${KC_GATEKEEPER_SERVE_CLIENT}
      - KC_MONGODB_URL=mongodb://mongodb:27017
      - KC_REDIS_URL=redis://redis:6379
      - KC_IPFS_ENABLE=${KC_IPFS_ENABLE}
      - KC_IPFS_URL=http://ipfs:5001/api/v0
      - KC_IPFS_CLUSTER_URL=${KC_IPFS_CLUSTER_URL}
      - KC_IPFS_CLUSTER_AUTH_HEADER=${KC_IPFS_CLUSTER_AUTH_HEADER}
    volumes:
      - ./data:/app/gatekeeper/data
    user: "${KC_UID}:${KC_GID}"
    ports:
      - ${KC_GATEKEEPER_PORT}:4224
    depends_on:
      - mongodb
      - redis

  keymaster:
    build:
      context: .
      dockerfile: Dockerfile.keymaster
    image: keychainmdip/keymaster
    environment:
      - KC_KEYMASTER_PORT=4226
      - KC_GATEKEEPER_URL=http://gatekeeper:4224
      - KC_DISABLE_SEARCH=${KC_DISABLE_SEARCH:-false}
      - KC_SEARCH_URL=http://search-server:4002
      - KC_NODE_ID=${KC_NODE_ID}
      - KC_KEYMASTER_DB=${KC_KEYMASTER_DB}
      - KC_ENCRYPTED_PASSPHRASE=${KC_ENCRYPTED_PASSPHRASE}
      - KC_WALLET_CACHE=${KC_WALLET_CACHE}
      - KC_DEFAULT_REGISTRY=${KC_DEFAULT_REGISTRY}
      - KC_KEYMASTER_SERVE_CLIENT=${KC_KEYMASTER_SERVE_CLIENT}
      - KC_MONGODB_URL=mongodb://mongodb:27017
      - KC_REDIS_URL=redis://redis:6379
    volumes:
      - ./data:/app/keymaster/data
    user: "${KC_UID}:${KC_GID}"
    ports:
      - ${KC_KEYMASTER_PORT}:4226
    depends_on:
      - gatekeeper
      - redis
      - mongodb
      - search-server

  hypr-mediator:
    build:
      context: .
      dockerfile: Dockerfile.hyperswarm
    image: keychainmdip/hyperswarm-mediator
    environment:
      - KC_GATEKEEPER_URL=http://gatekeeper:4224
      - KC_KEYMASTER_URL=http://keymaster:4226
      - KC_IPFS_ENABLE=${KC_IPFS_ENABLE}
      - KC_IPFS_URL=http://ipfs:5001/api/v0
      - KC_NODE_ID=${KC_NODE_ID}
      - KC_NODE_NAME=${KC_NODE_NAME}
      - KC_MDIP_PROTOCOL=${KC_MDIP_PROTOCOL}
      - KC_HYPR_EXPORT_INTERVAL=${KC_HYPR_EXPORT_INTERVAL}
    user: "${KC_UID}:${KC_GID}"
    depends_on:
      - gatekeeper
      - keymaster

  tftc-node:
    image: keychainmdip/feathercoin:v0.19.2
    volumes:
      - ./data/tftc:/root/.feathercoin

  tftc-mediator:
    build:
      context: .
      dockerfile: Dockerfile.satoshi
    image: keychainmdip/satoshi-mediator
    environment:
      - KC_GATEKEEPER_URL=http://gatekeeper:4224
      - KC_KEYMASTER_URL=http://keymaster:4226
      - KC_MONGODB_URL=mongodb://mongodb:27017
      - KC_REDIS_URL=redis://redis:6379
      - KC_NODE_ID=${KC_NODE_ID}
      - KC_SAT_CHAIN=TFTC
      - KC_SAT_NETWORK=testnet
      - KC_SAT_START_BLOCK=0
      - KC_SAT_HOST=tftc-node
      - KC_SAT_PORT=19337
      - KC_SAT_USER=${KC_TFTC_USER}
      - KC_SAT_PASS=${KC_TFTC_PASS}
      - KC_SAT_WALLET=${KC_TFTC_WALLET}
      - KC_SAT_IMPORT_INTERVAL=${KC_TFTC_IMPORT_INTERVAL}
      - KC_SAT_EXPORT_INTERVAL=${KC_TFTC_EXPORT_INTERVAL}
      - KC_SAT_FEE_BLOCK_TARGET=${KC_TFTC_FEE_BLOCK_TARGET}
      - KC_SAT_FEE_FALLBACK_SAT_BYTE=${KC_TFTC_FEE_FALLBACK_SAT_BYTE}
      - KC_SAT_FEE_MAX=${KC_TFTC_FEE_MAX}
      - KC_SAT_RBF_ENABLED=${KC_TFTC_RBF_ENABLED}
      - KC_SAT_REIMPORT=${KC_TFTC_REIMPORT}
      - KC_SAT_DB=${KC_TFTC_DB}
    volumes:
      - ./data:/app/satoshi/data
    user: "${KC_UID}:${KC_GID}"
    depends_on:
      - tftc-node
      - gatekeeper
      - keymaster

  btc-node:
    image: keychainmdip/bitcoin-core:v28.0-multiarch
    volumes:
      - ./data/btc:/root/.bitcoin
    ports:
      - 8332:8332

  btc-mediator:
    build:
      context: .
      dockerfile: Dockerfile.satoshi-inscription
    image: keychainmdip/inscription-mediator
    environment:
      - KC_GATEKEEPER_URL=http://gatekeeper:4224
      - KC_KEYMASTER_URL=http://keymaster:4226
      - KC_MONGODB_URL=mongodb://mongodb:27017
      - KC_REDIS_URL=redis://redis:6379
      - KC_NODE_ID=${KC_NODE_ID}
      - KC_SAT_CHAIN=BTC
      - KC_SAT_NETWORK=bitcoin
      - KC_SAT_HOST=btc-node
      - KC_SAT_PORT=8332
      - KC_SAT_START_BLOCK=${KC_BTC_START_BLOCK}
      - KC_SAT_USER=${KC_BTC_USER}
      - KC_SAT_PASS=${KC_BTC_PASS}
      - KC_SAT_WALLET=${KC_BTC_WALLET}
      - KC_SAT_IMPORT_INTERVAL=${KC_BTC_IMPORT_INTERVAL}
      - KC_SAT_EXPORT_INTERVAL=${KC_BTC_EXPORT_INTERVAL}
      - KC_SAT_FEE_BLOCK_TARGET=${KC_BTC_FEE_BLOCK_TARGET}
      - KC_SAT_FEE_FALLBACK_SAT_BYTE=${KC_BTC_FEE_FALLBACK_SAT_BYTE}
      - KC_SAT_FEE_MAX=${KC_BTC_FEE_MAX}
      - KC_SAT_RBF_ENABLED=${KC_BTC_RBF_ENABLED}
      - KC_SAT_REIMPORT=${KC_BTC_REIMPORT}
      - KC_SAT_DB=${KC_BTC_DB}
    volumes:
      - ./data:/app/satoshi/data
    user: "${KC_UID}:${KC_GID}"
    depends_on:
      - btc-node
      - gatekeeper
      - keymaster

  tbtc-node:
    image: keychainmdip/bitcoin-core:v28.0-multiarch
    volumes:
      - ./data/tbtc:/root/.bitcoin

  tbtc-mediator:
    build:
      context: .
      dockerfile: Dockerfile.satoshi
    image: keychainmdip/satoshi-mediator
    environment:
      - KC_GATEKEEPER_URL=http://gatekeeper:4224
      - KC_KEYMASTER_URL=http://keymaster:4226
      - KC_MONGODB_URL=mongodb://mongodb:27017
      - KC_REDIS_URL=redis://redis:6379
      - KC_NODE_ID=${KC_NODE_ID}
      - KC_SAT_CHAIN=TBTC
      - KC_SAT_NETWORK=testnet
      - KC_SAT_HOST=tbtc-node
      - KC_SAT_PORT=48332
      - KC_SAT_START_BLOCK=${KC_TBTC_START_BLOCK}
      - KC_SAT_USER=${KC_TBTC_USER}
      - KC_SAT_PASS=${KC_TBTC_PASS}
      - KC_SAT_WALLET=${KC_TBTC_WALLET}
      - KC_SAT_IMPORT_INTERVAL=${KC_TBTC_IMPORT_INTERVAL}
      - KC_SAT_EXPORT_INTERVAL=${KC_TBTC_EXPORT_INTERVAL}
      - KC_SAT_FEE_BLOCK_TARGET=${KC_TBTC_FEE_BLOCK_TARGET}
      - KC_SAT_FEE_FALLBACK_SAT_BYTE=${KC_TBTC_FEE_FALLBACK_SAT_BYTE}
      - KC_SAT_FEE_MAX=${KC_TBTC_FEE_MAX}
      - KC_SAT_RBF_ENABLED=${KC_TBTC_RBF_ENABLED}
      - KC_SAT_REIMPORT=${KC_TBTC_REIMPORT}
      - KC_SAT_DB=${KC_TBTC_DB}
    volumes:
      - ./data:/app/satoshi/data
    user: "${KC_UID}:${KC_GID}"
    depends_on:
      - tbtc-node
      - gatekeeper
      - keymaster

  signet-node:
    image: keychainmdip/bitcoin-core:v28.0-multiarch
    volumes:
      - ./data/signet:/root/.bitcoin
    ports:
      - 38332:38332

  signet-mediator:
    build:
      context: .
      dockerfile: Dockerfile.satoshi
    image: keychainmdip/satoshi-mediator
    environment:
      - KC_GATEKEEPER_URL=http://gatekeeper:4224
      - KC_KEYMASTER_URL=http://keymaster:4226
      - KC_MONGODB_URL=mongodb://mongodb:27017
      - KC_REDIS_URL=redis://redis:6379
      - KC_NODE_ID=${KC_NODE_ID}
      - KC_SAT_CHAIN=Signet
      - KC_SAT_NETWORK=testnet
      - KC_SAT_HOST=signet-node
      - KC_SAT_PORT=38332
      - KC_SAT_START_BLOCK=${KC_SIGNET_START_BLOCK}
      - KC_SAT_USER=${KC_SIGNET_USER}
      - KC_SAT_PASS=${KC_SIGNET_PASS}
      - KC_SAT_WALLET=${KC_SIGNET_WALLET}
      - KC_SAT_IMPORT_INTERVAL=${KC_SIGNET_IMPORT_INTERVAL}
      - KC_SAT_EXPORT_INTERVAL=${KC_SIGNET_EXPORT_INTERVAL}
      - KC_SAT_FEE_BLOCK_TARGET=${KC_SIGNET_FEE_BLOCK_TARGET}
      - KC_SAT_FEE_FALLBACK_SAT_BYTE=${KC_SIGNET_FEE_FALLBACK_SAT_BYTE}
      - KC_SAT_FEE_MAX=${KC_SIGNET_FEE_MAX}
      - KC_SAT_RBF_ENABLED=${KC_SIGNET_RBF_ENABLED}
      - KC_SAT_REIMPORT=${KC_SIGNET_REIMPORT}
      - KC_SAT_DB=${KC_SIGNET_DB}
    volumes:
      - ./data:/app/satoshi/data
    user: "${KC_UID}:${KC_GID}"
    depends_on:
      - signet-node
      - gatekeeper
      - keymaster

  sig-ins-mediator:
    build:
      context: .
      dockerfile: Dockerfile.satoshi-inscription
    image: keychainmdip/inscription-mediator
    environment:
      - KC_GATEKEEPER_URL=http://gatekeeper:4224
      - KC_KEYMASTER_URL=http://keymaster:4226
      - KC_MONGODB_URL=mongodb://mongodb:27017
      - KC_REDIS_URL=redis://redis:6379
      - KC_NODE_ID=${KC_NODE_ID}
      - KC_SAT_CHAIN=Signet
      - KC_SAT_NETWORK=testnet
      - KC_SAT_HOST=signet-node
      - KC_SAT_PORT=38332
      - KC_SAT_START_BLOCK=${KC_SIGNET_INS_START_BLOCK}
      - KC_SAT_USER=${KC_SIGNET_INS_USER}
      - KC_SAT_PASS=${KC_SIGNET_INS_PASS}
      - KC_SAT_WALLET=${KC_SIGNET_INS_WALLET}
      - KC_SAT_IMPORT_INTERVAL=${KC_SIGNET_INS_IMPORT_INTERVAL}
      - KC_SAT_EXPORT_INTERVAL=${KC_SIGNET_INS_EXPORT_INTERVAL}
      - KC_SAT_FEE_BLOCK_TARGET=${KC_SIGNET_INS_FEE_BLOCK_TARGET}
      - KC_SAT_FEE_FALLBACK_SAT_BYTE=${KC_SIGNET_INS_FEE_FALLBACK_SAT_BYTE}
      - KC_SAT_FEE_MAX=${KC_SIGNET_INS_FEE_MAX}
      - KC_SAT_RBF_ENABLED=${KC_SIGNET_INS_RBF_ENABLED}
      - KC_SAT_REIMPORT=${KC_SIGNET_INS_REIMPORT}
      - KC_SAT_DB=${KC_SIGNET_INS_DB}
    volumes:
      - ./data:/app/satoshi/data
    user: "${KC_UID}:${KC_GID}"
    depends_on:
      - signet-node
      - gatekeeper
      - keymaster

  cli:
    build:
      context: .
      dockerfile: Dockerfile.cli
    image: keychainmdip/cli
    environment:
      - KC_GATEKEEPER_URL=http://gatekeeper:4224
      - KC_KEYMASTER_URL=http://keymaster:4226
      - KC_IPFS_URL=http://ipfs:5001/api/v0
    volumes:
      - ./share:/app/share
    user: "${KC_UID}:${KC_GID}"
    depends_on:
      - gatekeeper
      - keymaster

  explorer:
    build:
      context: .
      dockerfile: Dockerfile.explorer
    image: keychainmdip/explorer
    environment:
      - VITE_EXPLORER_PORT=4000
      - VITE_GATEKEEPER_URL=http://localhost:4224
      - VITE_SEARCH_SERVER=http://localhost:4002
      - VITE_OPERATION_NETWORKS=hyperswarm,local,TFTC,TBTC
    ports:
      - "4000:4000"
    depends_on:
      - gatekeeper

  search-server:
    build:
      context: .
      dockerfile: Dockerfile.search-server
    image: keychainmdip/search-server
    environment:
      - SEARCH_SERVER_PORT=4002
      - SEARCH_SERVER_GATEKEEPER_URL=http://gatekeeper:4224
      - SEARCH_SERVER_REFRESH_INTERVAL_MS=5000
      - SEARCH_SERVER_DB=sqlite
    volumes:
      - ./data:/app/search-server/data
    user: "${KC_UID}:${KC_GID}"
    ports:
      - "4002:4002"
    depends_on:
      - gatekeeper

  react-wallet:
    build:
      context: .
      dockerfile: Dockerfile.react-wallet
    image: keychainmdip/react-wallet
    environment:
      - VITE_PORT=${KC_REACT_WALLET_PORT:-4228}
      - VITE_GATEKEEPER_URL=http://gatekeeper:4224
      - VITE_KEYMASTER_URL=http://keymaster:4226
      - VITE_SEARCH_SERVER=http://search-server:4002
    user: "${KC_UID}:${KC_GID}"
    ports:
      - "${KC_REACT_WALLET_PORT:-4228}:${KC_REACT_WALLET_PORT:-4228}"
    depends_on:
      - gatekeeper
      - search-server
